<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gilimedia.taarufapp">

    <!-- set permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".MenuSignin"
            android:label="Menu Signin"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".SignupActivity"
            android:label="SignUp"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".SigninActivity"
            android:label="Signin"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".VerificationActivity"
            android:label="Verifikasi"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".StartprofileActivity"
            android:label="Start Profil"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".ProfileOneActivity"
            android:label="Start Profil1"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".ProfileTwoActivity"
            android:label="Start Profil2"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".StartkriteriaActivity"
            android:label="Start Kriteria"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".KriteriaoneActivity"
            android:label="Start Kriteria1"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".KriteriatwoActivity"
            android:label="Start Kriteria2"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".FoundActivity"
            android:label="Found"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".NotfoundActivity"
            android:label="Not Found"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
    </application>

</manifest>